@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --noticias: #E5BA00;
  --negocios: #FF66C4;
  --pensamento: #699DDA;
  --entretenimento: #D61E25;
  --esportes: #2AAB58;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body .container {
  margin: auto;
}